<?xml version="1.0" encoding="utf-8"?>
<Content Key="121e0f22-9d09-4eaf-9904-6572e56f397c" Alias="Contact us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-09-11T17:22:53</CreateDate>
    <NodeName Default="Contact us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29a83d56-fdae-4d80-a28f-b451aebc2a04">contactUs</Template>
  </Info>
  <Properties>
    <firstLine>
      <Value><![CDATA[Contact us]]></Value>
    </firstLine>
  </Properties>
</Content>