<?xml version="1.0" encoding="utf-8"?>
<Content Key="00073f8f-1281-4f50-aa7f-b20840ee5a4e" Alias="header info" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/headerInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>headerInfo</ContentType>
    <CreateDate>2024-10-03T13:33:41</CreateDate>
    <NodeName Default="header info" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutLink>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/121e0f229d094eaf99046572e56f397c",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </aboutLink>
    <contactLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </contactLink>
    <logoPic>
      <Value><![CDATA[[
  {
    "key": "5b5cef9c-0ae0-4ae8-b062-ebfed1fa8575",
    "mediaKey": "73f5913c-f89d-44aa-8759-2fd8cc0afc80",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoPic>
    <projectsLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </projectsLink>
    <servicesLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </servicesLink>
  </Properties>
</Content>