<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f2ad51f-9491-4d22-9fb3-9da0710f11c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-06T21:16:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="78baaaff-6e37-4330-9cc0-b119a9d6dea3">homePage</Template>
  </Info>
  <Properties>
    <aboutUsHeadLine>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutUsHeadLine>
    <aboutUsMiniHeading>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutUsMiniHeading>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutUsSignature>
    <aboutUsSignaturePic>
      <Value><![CDATA[[
  {
    "key": "4bfd3846-bd30-43ba-9677-f53d31741118",
    "mediaKey": "ac3b2cf7-5a20-4e42-911f-2cc0cabcce9f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsSignaturePic>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutUsText>
    <background>
      <Value><![CDATA[[
  {
    "key": "51cebc0d-8610-4a3c-ba7d-12aea46a23f0",
    "mediaKey": "999a008a-e628-4cdf-8037-04ec6ccefa40",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </background>
    <dotMap>
      <Value><![CDATA[]]></Value>
    </dotMap>
    <heroButtonLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </heroButtonLink>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroHeadLine>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadLine>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <heroWomanImage>
      <Value><![CDATA[[
  {
    "key": "602d3aff-5363-434b-964b-b57f1a29d172",
    "mediaKey": "75f3388e-0e20-4931-8339-184ba09ef0d3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroWomanImage>
    <img1>
      <Value><![CDATA[[
  {
    "key": "4622be6d-ec1e-49ad-8fb5-827052a711ac",
    "mediaKey": "85169b75-26e8-43e7-ba64-e62e4cea829b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img1>
    <img2>
      <Value><![CDATA[[
  {
    "key": "f800a631-7eb3-4e60-8816-82ade5b41911",
    "mediaKey": "70a5576a-fa06-43d1-a8ba-4eb06f001005",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img2>
    <img3>
      <Value><![CDATA[[
  {
    "key": "b05913d4-e725-43ea-9981-48e10787536c",
    "mediaKey": "a932f637-3851-4689-bf07-88f07f25c7e6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img3>
    <img4>
      <Value><![CDATA[[
  {
    "key": "9865abaa-38fd-429d-b915-f1df6a16e9a0",
    "mediaKey": "4fd1a0e1-99e9-4a40-8b7e-54dfb03a2276",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img4>
    <img5>
      <Value><![CDATA[[
  {
    "key": "318c6ca7-29a4-45b3-9cef-b7968fbaa724",
    "mediaKey": "17895c22-ded1-48f4-9946-5746e31a6619",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img5>
    <img6>
      <Value><![CDATA[[
  {
    "key": "284aa822-211a-4dd7-801f-75c2636ad05a",
    "mediaKey": "30c38fbd-d87c-4edb-8172-f979250f6a49",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img6>
    <logo1>
      <Value><![CDATA[[
  {
    "key": "e1f24100-a3c7-4254-8cb3-459011d4c22b",
    "mediaKey": "637132a5-aacb-402c-87be-1b9fb672a1f4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo1>
    <logo2>
      <Value><![CDATA[[
  {
    "key": "1153bc2b-a10d-4bc6-8d8c-509dc5e8c340",
    "mediaKey": "6a07d063-f68b-4f51-927a-0ea58f018d70",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo2>
    <logo3>
      <Value><![CDATA[[
  {
    "key": "aafb9824-f89d-4f29-b84a-80b8565190c3",
    "mediaKey": "e02a5085-6b46-4a07-8f1d-bd610c0ff012",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo3>
    <logo4>
      <Value><![CDATA[[
  {
    "key": "92386eed-08c6-46fd-8193-ae39fd9aec9d",
    "mediaKey": "11ed232c-7756-48cb-914a-4cf5f923231a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo4>
    <logo5>
      <Value><![CDATA[[
  {
    "key": "c069348a-f496-45d8-aa1e-f1b9c111e582",
    "mediaKey": "e58059cf-a374-41ff-908d-b8cda2291150",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo5>
    <logo6>
      <Value><![CDATA[[
  {
    "key": "c99eea6e-d898-4ef1-9df1-e2c05c385fb1",
    "mediaKey": "14a35939-74fd-4ab3-b6ac-9c6bbfd9c631",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo6>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "9fa9b8cd-9591-4e66-8b14-28e0605f658c",
    "mediaKey": "f4e0a6a9-639d-4c93-9472-c708823f20a0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoImage>
    <ourServicesHeadline>
      <Value><![CDATA[]]></Value>
    </ourServicesHeadline>
    <ourServicesMiniHeading>
      <Value><![CDATA[]]></Value>
    </ourServicesMiniHeading>
    <successPic>
      <Value><![CDATA[[
  {
    "key": "8fd667a6-956f-4cf5-9de2-baf18217f942",
    "mediaKey": "4776ab47-bd51-4c2a-9857-e059cd66c5fd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successPic>
    <teamPic>
      <Value><![CDATA[[
  {
    "key": "d7454fa6-647f-4379-b8bd-ec3b2affe23c",
    "mediaKey": "39e8318f-9441-4ab3-9157-559e177be989",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamPic>
  </Properties>
</Content>