<?xml version="1.0" encoding="utf-8"?>
<Media Key="11ed232c-7756-48cb-914a-4cf5f923231a" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T20:12:47</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/10pe520n/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>