<?xml version="1.0" encoding="utf-8"?>
<Media Key="a932f637-3851-4689-bf07-88f07f25c7e6" Alias="assurance.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T19:41:46</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yvfjas0k/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>