<?xml version="1.0" encoding="utf-8"?>
<Media Key="70a5576a-fa06-43d1-a8ba-4eb06f001005" Alias="bonds.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T19:41:24</CreateDate>
    <NodeName Default="bonds.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tdvapeq3/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>