<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4e0a6a9-639d-4c93-9472-c708823f20a0" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T13:32:27</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmnfefug/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>