<?xml version="1.0" encoding="utf-8"?>
<Media Key="999a008a-e628-4cdf-8037-04ec6ccefa40" Alias="dot-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T17:38:38</CreateDate>
    <NodeName Default="dot-background.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pc4dq4zt/dot-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>