<?xml version="1.0" encoding="utf-8"?>
<Media Key="70c9b5a0-b551-4664-9f28-1ea3ff128cd8" Alias="favicon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faviconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T13:58:57</CreateDate>
    <NodeName Default="favicon.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kiegxesk/favicon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>