<?xml version="1.0" encoding="utf-8"?>
<Media Key="17895c22-ded1-48f4-9946-5746e31a6619" Alias="financial.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T19:42:28</CreateDate>
    <NodeName Default="financial.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0dqdx3ok/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>