<?xml version="1.0" encoding="utf-8"?>
<Media Key="85169b75-26e8-43e7-ba64-e62e4cea829b" Alias="riskmanagment.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmanagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T19:41:03</CreateDate>
    <NodeName Default="riskmanagment.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q2tliz5t/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>