<?xml version="1.0" encoding="utf-8"?>
<Media Key="4776ab47-bd51-4c2a-9857-e059cd66c5fd" Alias="success.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T18:33:33</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wulnjjkk/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>