<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fd1a0e1-99e9-4a40-8b7e-54dfb03a2276" Alias="tax.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T19:42:06</CreateDate>
    <NodeName Default="tax.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cmohhlps/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>