<?xml version="1.0" encoding="utf-8"?>
<Media Key="39e8318f-9441-4ab3-9157-559e177be989" Alias="team picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamPicturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T15:12:13</CreateDate>
    <NodeName Default="team picture.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pwgevw00/team-picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>